streamlit>=1.30.0
pandas>=2.0.0
numpy>=1.24.0
plotly>=5.13.0
yfinance>=0.2.28
nltk>=3.8.1
tensorflow==2.13.0
keras==2.13.1
scikit-learn>=1.2.2
requests>=2.31.0
scipy==1.12.0
beautifulsoup4==4.12.3
html5lib==1.1
lxml==5.1.0 